<div ui-view>
    <h2>Ladder</h2>
    
    <table class="bordered striped">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Points</th>
            </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat="player in ladderCtrlVm.players">
                <td>{{$index + 1}}</td>
                <td><a ui-sref="ladder.player({player: player.name})">{{player.name}}</a></td>
                <td>{{player.win_count}}</td>
                <td>{{player.loss_count}}</td>
                <td>{{player.points}}</td>
            </tr>
        </tbody>
    </table>
</div>
