<div ng-controller="LeaderboardPlayerController">
    <div class="feature-banner text-center">
        <div class="container small">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-uppercase">{{ player.name }}</h2>
                    <ul class="list-inline profile-social">
                        <li><i class="fa fa-youtube fa-2x"></i></li>
                        <li><i class="fa fa-twitter fa-2x"></i></li>
                        <li><i class="fa fa-facebook fa-2x"></i></li>
                    </ul>
                    <p class="back-to-leaderboard text-uppercase">
                        <a href="#/leaderboard/{{ gameName }}">
                            <i class="fa fa-angle-left"></i> Back to Leaderboard
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="player-detail">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default panel-profile clearfix">
                        <div class="col-md-6">

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-picture">
                                        <i class="fa fa-user-secret fa-4x"></i>
                                    </div>
                                </div>

                                <div class="col-md-7 quick-fire">
                                    <h4>{{ player.name }}'s Battle Statistics</h4>
                                    <ul class="list-unstyled rank-list">
                                        <li>
                                            <span class="text-uppercase">To be promoted</span>
                                            <progressbar value="55">5 wins required</progressbar>
                                        </li>
                                        <li>
                                            <span class="text-uppercase">To be demoted</span>
                                            <progressbar value="90" type="danger">1 loss required</progressbar>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="profile-rank">
                                <div class="text-right">
                                    <h3>Rank #{{ player.rank }}</h3>
                                    <h5>Colonel</h5>
                                </div>
                            </div>
                            <div class="profile-stats">
                                <ul class="list-inline text-right">
                                    <li>Points <strong>{{player.points}}</strong><i class="fa fa-bolt fa-fw"></i></li>
                                    <li>Won <strong>{{player.wins || 0}}</strong><i class="fa fa-level-up fa-fw"></i></li>
                                    <li>Lost <strong>{{player.losses || 0}}</strong><i class="fa fa-level-down fa-fw"></i>
                                    </li>
                                    <li>Win/Loss Ratio <strong>{{player.wins / player.losses }}% </strong><i
                                            class="fa fa-tachometer fa-fw"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>When? <i class="fa fa-level-up fa-fw"></i></th>
                                <th>Players in game <i class="fa fa-user fa-fw"></i></th>
                                <th>Duration of game <i class="fa fa-clock-o"></i></th>
                                <th>Map played <i class="fa fa-map-marker"></i></th>
                                <th>Game Settings <i class="fa fa-cog"></i></th>
                                <!--<th>Result <i class="fa fa-level-down fa-fw"></i></th>-->
                                <!--<th>Points won <i class="fa fa-bolt fa-fw"></i></th>-->
                                <!--<th>Experience gained<i class="fa fa-bolt fa-fw"></i></th>-->
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="game in player.games" ng-if="game._id">
                                <td>{{ game.date * 1000 | date:'medium' }}</td>
                                <td>
                                    <div ng-repeat="players in game.players">
                                        <ul class="list-unstyled">
                                            <li ng-if="players.__gains.wins && players.__gains.points > 1">
                                                <a href="#/leaderboard/{{ gameName }}/player/{{ players.nam }}">
                                                    <span class="label label-success">
                                                        {{ players.nam}}
                                                        <i class="fa fa-smile-o fa-fw fa-lg"></i>
                                                    </span>
                                                    <span class="label label-default">
                                                        + {{ players.__gains.points }} points
                                                    </span>
                                                </a>
                                            </li>
                                            <li ng-if="players.__gains.losses">
                                                <a href="#/leaderboard/{{ gameName }}/player/{{ players.nam }}">
                                                    <span class="label label-danger">
                                                        {{ players.nam}}
                                                        <i class="fa fa-frown-o fa-fw fa-lg"></i>
                                                    </span>
                                                    <span class="label label-default">
                                                        + {{ players.__gains.points }} points
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    {{ game.dura | secondsToDateTime | date:'HH:mm:ss'}}
                                </td>
                                <td>
                                    {{ game.settings.scen }}
                                </td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li>Tech level: {{ game.settings.tech }}</li>
                                        <li>Crates: {{ game.settings.crat === '1' ? 'On' : 'Off'}}</li>
                                        <li>Money: {{ game.settings.cred }}</li>
                                        <li>Total Players: {{ game.settings.plrs }}</li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
