<div class="feature-banner jumbo-feature text-center">
    <div class="container large">
        <h2 class="text-uppercase">Download, Battle, <strong>Conquer</strong></h2>

        <p>Play classic Command & Conquer games online, free, forever.</p>

        <p><a class="btn btn-success btn-large text-uppercase" ui-sref="download" role="button">Download</a></p>
    </div>
</div>

<section class="angled-feature-intro">
    <div class="angle-background"></div>

    <div class="container content text-center">
        <h3 class="text-center">Simple, and stunningly fast.</h3>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h4 class="thin-italic">We repackage the games so you can play online again.</h4>
            <h4>Downloads are available for Windows, Mac, and Linux.</h4>
        </div>
    </div>
</div>

<section class="supported-games text-center">
    <div class="container">

        <div class="row">
            <div class="col-md-4">

                <div class="thumbnail">
                    <img src="http://placehold.it/250x300" alt="">

                    <div class="caption">
                        <h3>Red Alert 1</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <p>
                            <a href="#" class="btn btn-danger btn-block" role="button">Button</a>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <h4>Game</h4>
            </div>
            <div class="col-md-4">
                <h4>Game</h4>
            </div>
        </div>

    </div>
</section>